@import url("./styles/index.css");

/* css kodlarınız buraya gelecek */
/* miray -OC-16-17 - Implement the More Features Section start */

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1181px;
  height: 556px;
  margin: 50px auto;
  background-color: #fff;
  overflow: hidden;
}

.left,
.right {
  flex: 1 1 50%;
  box-sizing: border-box;
}

.left img {
  width: 554px;
  height: 556px;
  display: block;
  border-radius: 8px;
  opacity: 1;
  transform: rotate(0deg);
  object-fit: cover;
}

.right {
  width: 553px;
  height: 226px;
  padding: 40px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h2 {
  width: 124px;
  height: 22px;
  opacity: 1;
  transform: rotate(0deg);
  color: rgba(38, 187, 116, 1);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.right h3 {
  max-width: 360px;
  margin-bottom: 20px;
  color: black;
}

.right p {
  max-width: 480px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}

.right button {
  padding: 12px 24px;
  background-color: rgba(38, 187, 116, 1);
  width: 146px;
  height: 49px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.right button:hover {
  opacity: 0.8;
}

/* responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    flex: 1 1 100%;
  }

  .right {
    padding: 20px;
  }

  .right h2 {
    font-size: 22px;
  }

  .right h3 {
    font-size: 18px;
  }

  .right p {
    font-size: 16px;
  }

  .right button {
    font-size: 15px;
    padding: 10px 20px;
  }
}
/* miray -OC-16-17 - Implement the More Features Section end */
