@import "../styles/index.css";

/* css kodlarınız buraya gelecek */
.hero-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: black;
    max-width: 1180px;
    margin: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    align-items: start;

}

.hero-content .started-button {
    background-color: white;
    color: black;
    padding: 10px 18px;
    border-radius: 30px;

}
.email-content {
    display: flex;
    gap: 12px;
}
.email-content input {
    padding: 15.5px 10px;
    background-color: white;
    border-radius: 8px;
    width: 363px;
}
.email-content button {
    background-color: var(--green-color);
    padding: 15px 28px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
   
}



.hero-images img {
    width: 100%;
}